@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
    <ul class="navbar-nav d-flex flex-row">
      <!-- Icon dropdown -->
      <li class="nav-item mr-3 mr-lg-0 dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fas fa-user"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="authentication/profile">@context.User.Identity.Name</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <button type="button" class="btn btn-danger btn-block" @onclick="BeginSignOut">Log out</button>
          </li>
        </ul>
      </li>
    </ul>
    </Authorized>
    <NotAuthorized>
        <div class="d-flex">
            <a class="nav-link mr-1" aria-current="page" href="authentication/register">Register</a>
            <a class="nav-link" aria-current="page" href="authentication/login">Log in</a>
        </div>

    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
