<!--Main Navigation-->
<header>
    <!-- Sidenav-->
    <div id="sidenav-1" class="sidenav" data-mode="side" data-slim="true" data-slim-collapsed="true" role="navigation">


        <div class="text-center mt-4">
            <a class=" ripple rounded-circle" data-color="light" href="#">
                <img src="https://orchardskills.com/OrchardSkillsTheme/dist/icons/icon-84x84.png" alt="avatar"
                    class="rounded-circle img-fluid" style="max-width: 40px;" /><span class="ml-1" style="font-size: 1.25rem;" data-slim="false">Orchard Skills</span>
            </a>
        </div>

        <hr />
        <ul class="sidenav-menu">
            <li class="sidenav-item">
                <a class="sidenav-link" href="">
                    <i class="fas fa-home fa-fw mr-3"></i><span data-slim="false">Home</span>
                </a>
            </li>
            <li class="sidenav-item">
                <a class="sidenav-link" href="counter">
                    <i class="fas fa-plus fa-fw mr-3"></i><span data-slim="false">Counter</span>
                </a>
            </li>
            <li class="sidenav-item">
                <a class="sidenav-link" href="fetchdata">
                    <i class="fas fa-chart-area fa-fw mr-3"></i><span data-slim="false">Fetch Data</span>
                </a>
            </li>


        </ul>
        <div id="slim-toggler" class="sidenav-link" style="position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                display: flex;
                justify-content: center;">
            <i style="cursor: pointer;" class="fas fa-arrows-alt-h fa-3x"></i>
        </div>

    </div>
    <!-- Sidenav-->

    <!-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggler -->
            <button data-toggle="sidenav" data-target="#sidenav-1" class="btn shadow-0 p-0 mr-3 d-block d-xxl-none"
                aria-controls="#sidenav-1" aria-haspopup="true">
                <i class="fas fa-bars fa-lg"></i>
            </button>

            <!-- Right links -->
            <ul class="navbar-nav ml-auto d-flex flex-row">
                <!-- Notification dropdown -->
                <li class="nav-item">
                    <LoginDisplay />
                </li>
            </ul>
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
</header>
<!--Main Navigation-->








@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;


    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;

    }



}
